<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="address1" class="Address">
    	<property name="location" value="Setter Injection"></property>
    	<property name="pincode" value="423117"></property>
    
     </bean>
    <bean id="student1" class="Student">
    	<property name="name" value="ABhay"></property>
    
    </bean>

</beans>